/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.5;
	text-align: center;
	.mySlides {display:none}
}

/* Navbar and Logo */
.container {
	padding-right: 0;
	padding-left: 0;
}

.container .navbar-brand {
 	height: 80px;
}

.container .nav >li >a {
  	padding-top: 30px;
  padding-bottom: 30px;
}	
.container .navbar-toggle {
  	padding: 10px;
  	margin: 25px 15px 25px 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #000;
    min-height: 100px;
    text-align: center;
}

.navbar-default .navbar-nav>li>a {
    color: #333;
    line-height: 100px;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	background-color: 	#333;
}

.navbar-brand {
  	padding: 0px;
}
.navbar-brand>img {
  	height: 100%;
  	width: auto;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #000;
    z-index:3;
}

.navbar-right li {
	background-color: #fff;
	color: #000;
	text-shadow: 1px 1px 1px #000;
}

.mainlogosvg {
	transform: scale(0.1, 0.1);
	position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.navbar-inverse {
	background-color: #fff;
}

.container-fluid {
	background-color: #fff;
}

.list-group-item {
	background-color: #d4d3d3;
	border: 1px solid #a29d9d;
}

/*.row {
	background-color: #37424A;
    padding: 0.5em;
    margin: 0 0;
    color: #fff;
}*/

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
  text-shadow: 1px 1px 1px #000;
}

p {
  margin: 0;
  padding: 2em 2em;
}

.btn {
  display: block;
  background: #333;
  width: 30%;
  position: relative;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: 0 auto;
}

.btn:hover {
  background: #eaeaea;
  color: #333;
}



/* Header Showcase */

#showcase {
  min-height: 550px;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

#showcase .bg-image {
  position: absolute;
  background: #333 url("img/people.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 550px;
  z-index: -1;
  opacity: 0.8;
}

#showcase {
	filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .1s ease-in-out;
}

#showcase:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
  color: #fff;
}

#showcase p {
	color: #fff;
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}

/* Main Area */
#trial {
	padding: 0 15px;
	height: 250px;
	background-color: indianred;
}

#trial h1 {
	font-size: 2em;
	color: #fff;
}

#trial p {
	margin-top: -15px;
	font-size: 1em;
	color: #fff;
}

#location {
	font-size: 1.4em;
}

#banner {
	background-color: rgba(28, 28, 28, 0.4);
	height: 700px;
	position: relative;
}

#banner h1 {
	color: #fff;
}

#banner p {
	color: #fff;
}

#about {
	background: indianred;
	/*height: 700px;*/
}

img {
	filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .1s ease-in-out;
}

img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}

#about h2 {
	color: #fff;
	margin: 0 20px;
}

#about p {
	color: #fff;
}

#services {
	background: #fff;
	/*height: 300px;*/
	color: #fff;
}

#services h2 {
	color: #7a7a7a;
	font-size: 2.5em;
}

#services h4 {
	color: indianred;
	font-size: 1.8em;
	text-transform: uppercase;
	font-weight: bold;
}

#services p {
	color: #7a7a7a;
}

#services > div.column,
#gallery > div.column {
	border: 1px solid #fff;
}

#projects {
	background: crimson;
	/*height: 300px;*/
}

#gallery {
	background: #333;
	border: 10px solid indianred;	
	color: #fff;
	/*height: 400px;*/
}

#gallery h2 {
	color: #fff;
}

#newsletter {
	padding: 0 15px;
	height: 450px;
	background-color: indianred;
}

#newsletter h2 {
	color: #fff;
	font-size: 1.8em;
}

#newsletter p {
	color: #fff;
	font-size: 1.2em;
}

input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-top: 16px;
}

input[type=submit] {
    background-color: #1c1c1c;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

footer {
	background: #000;
	color: #fff;
	padding: 5px;
	height: 100px;
	line-height: 100px;
}
.logo {
	width: 100%;
	height: 140px;
	background: darkgrey;
	margin:  auto;
}
ul {
	padding-left: 0;
}
ul > li {
	list-style-type: none;
    line-height: 3em;
    border-bottom: 1px solid #fff;
    text-align: center;
}
.hero {
	width: 40%;
    padding: 40px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#map > h2 {
	font-size: 2em;
	color: indianred;
	text-transform: uppercase;
}

.col-map {
    width: 50%;
}

.col-map h4 {
	color: 	indianred;
}

.col-map p {
	font-size: 	1.1em;
}

.col-map h4 {
	font-size: 	1.5em;
	font-weight: bold;
	text-transform: uppercase;
}

/* Clear floats after the columns */
#map :after {
    content: "";
    display: table;
    clear: both;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2em;
	color: #000;
}

.small-1 {
	color: #fff;
	text-shadow: 1px 1px 1px black;
}

.small-2 {
	color: #000;
}

.move {
	width: -200px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #333;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div.contact-form {
    border-radius: 5px;
    background-color: indianred;
    padding: 20px;
}

div.contact-form h3 {
	color: #fff;
}


/* Mobile devices */
@media only screen and (max-width: 480px) {

	.container {
		width: 100%;
	}


	#banner {
		height: auto;
	}

	.hero {
		width: 95%;
		position: static;
		top: 0;
		left: 0;
		transform: none;
		margin: 0 auto;
	}

	.hero p {
		font-size: 1.2em;
	}

	#location {
		width: 100%;
	}

	#about .about1 {
		width: 100%;
	}

	#about .about2 {
		width: 100%;
	}

	#about > p {
		font-size: 1.2em;
	}
	
	#services > div.column,
	#gallery > div.column {
		border: none;
	}

	#projects {
		width: 100%;
	}

	#projects img {
		width: 100%;
		margin-top: -40px;
	}

	#map {
		width: 	100%;
	}

	.col-map {
		margin: 0 auto;
		float: 	left;
		width: 	100%;
	}

	.col-map iframe {
		height: 250px;
		width: 	100%;
	}

	.col-map img {
		width: 	100%;
		height: 200px;
	}

	#services img,
	#gallery img,
	#map iframe {
		width: 100%;
		margin-bottom: 15px;
	}
	
	div.contact {
		width: 50px;
		height: 50px;
		display: inline-block;
		font-size: 2em;
		color: #000;
	}

	footer {
		text-align: center;
	}

	.small-1 {
		margin-bottom: 15px;
		display: block;
		font-size: 1.1em;
		margin-top: 25px;
	}

	div#disclaimer .small-2 {
		margin-top: 50px;
		display: inline-block;
		width: 100%;
		text-align: center;	
	}

	.small-2 {
		margin-bottom: 15px;
		display: block;
		font-size: .5em;
	}
}

/* Tablet devices */
@media only screen and (min-width: 481px) and (max-width: 960px) {

	.container {
		width: 100%;
	}


	#banner {
		height: auto;
	}

	.hero {
		width: 95%;
		position: static;
		top: 0;
		left: 0;
		transform: none;
		margin: 0 auto;
	}

	.col-map {
		width: 60%;
		margin: 0 auto;
		position: relative;
	}

	.col-map iframe {
		width: 	100%;
		height: 256px;
	}

	.col-map img {
		width: 	100%;
		height: 256px;
	}

	.hero p {
		font-size: 1.5em;
	}

	#location {
		width: 50%;
	}

	#about > p {
		font-size: 1.5em;
	}

	#services > div.column {
		width: 30%;
		display: inline-block;
		padding: 11px;
		border: none;
	}

	#services img,
	#gallery img {
		width: 100%;
		margin-bottom: 20px;
	}

	#projects {
		width: 100%;
	}

	#projects img {
		width: 100%;
		margin-top: -100px;
		margin-bottom: 20px;
	}

	.column p,
	#projects p {
		font-size: 1.5em;
	}

	h4 {
		font-size: 1.8em;
	}

	#gallery div.column{
		width: 50%;
		display: inline-block;
		padding: 15px;
		border: none;
	}

	.small-1 {
		display: inline-block;
		width: 29%;
	}

	div#disclaimer .small-2 {
		display: inline-block;
		width: 75%;
		text-align: center;	
	}

	div#socialMedia {
		display: inline-block;
		width: 32%;
		text-align: left;
	}

	footer div.contact {
		/*border: 1px solid red;*/
		width: 50px;
		height: 50px;
		color: #000;
		font-size: 2em;
		display: inline-block;
		text-align: right;
	}

}

/* Desktop devices */
@media only screen and (min-width: 961px) {

	.container {
		width: 100%;
	}

	#banner {
		height: auto;
	}

	.hero {
		width: 95%;
		position: static;
		top: 0;
		left: 0;
		transform: none;
		margin: 0 auto;
	}

	#location {
		width: 50%;
	}

	.col-map {
		width: 80%;
		margin: 0 auto;
		position: relative;
	}

	.col-map img {
		width: 	100%;
	}

	.col-map iframe {
		width: 	100%;
		height: 474px;
	}

	.newsform {
		width: 50%;
		margin: 0 auto;
		height: 200px;
	}

	.hero p {
		font-size: 1.5em;
	}

	#services div.column {
		width: 32%;
		display: inline-block;
		padding: 15px;
		font-size: 15px;
		border: none;
	}

	#services img {
		width: 100%;
		margin-bottom: 20px;
	}

	#projects {
		width: 100%;
	}

	#projects img {
		width: 80%;
		margin-top: -150px;
	}

	#gallery div.column {
		width: 24%;
		display: inline-block;
		padding: 15px;
		border: none;
	}

	#gallery img {
		width: 100%;
		margin-bottom: 20px;
	}

	.small-1 {
		display: inline-block;
		width: 51%;
	}

	div#disclaimer .small-2 {
		display: inline-block;
		width: 50%;
		text-align: center;	
	}

	div#socialMedia {
		display: inline-block;
		width: 19%;
		text-align: left;
	}

	div.contact {
		display: inline-block;
		color: #000;
		font-size: 2em;
		padding: 0 20px;
	}
}